/**
 * @description  资讯预览 css
 * @author minjie
 * @createTime 2019/08/26
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.preview-content {
  height 600px;
  overflow-y scroll;
  margin-top: 0.3rem;
  padding-bottom: 0.24rem;
  box-sizing: border-box;
  img, audio, video{
    max-width: 100%;
    height: auto; 
  }
  p{
    white-space: pre-wrap;
    min-height: 1em;
  }
  pre{
    padding: 0.15rem;
    background-color: #f1f1f1;
    border-radius: 0.05rem;
  }
  blockquote{
    margin: 0;
    padding: 0.15rem;
    background-color: #f1f1f1;
    border-left: 0.03rem solid #d1d1d1;
  }
}