/**
 * @description 佣金详情
 * @author minjie
 * @createTime 2019/07/11
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.commission-detail {
  padding-left 19px;
}
