/**
 * @description 电子合同新增
 * @author minjie
 * @createTime 2019/05/14
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.cus-form-upload {
  width: 304px
  height:155px;
  background:rgba(251,251,251,1);
  border-radius:3px;
  border:1px dashed rgba(217,217,217,1);
  cursor pointer
  padding 30px 0
  text-align center
  margin-bottom 6px
  p {
    width 100%
    margin: 0 0 4px;
    font-family:PingFangSC-Regular;
    font-weight:400;
  }
  .cus-upload-drag-icon {
    margin-bottom 19px
    img {
      width 40px
      height 35px
    }
  }
  .cus-upload-text {
    height:16px;
    font-size 11px
    color:rgba(102,102,102,1);
    line-height:16px;
  }
  .cus-upload-hint {
    height:14px;
    font-size:10px;
    color:rgba(153,153,153,1);
    line-height:14px;
  }
}

.cus-form-upload:hover {
  border-color rgba(16,142,233,1)
}
