/**
 * @description 工资单详情
 * @author minjie
 * @createTime 2019/08/07
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.payroll-content {
  .span-row {
    display inline-block
    vertical-align middle
    width 200px;
    font-size 14px;
    line-height 40px
  }
  .span-text {
    margin-left 6px;
    color: #F56C6C;
  }
  .span-text-two {
    margin-left 6px;
    color: rgb(119,152,45);
  }
}