/**
 * @description 工资 css
 * @author minjie
 * @createTime 2019/08/09
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.salary-line-row {
  margin 20px 0;
  height 20px;
  line-height 20px;
  box-sizing border-box;
  span {
    font-size: 16px;
  }
  .span {
    font-size: 20px;
    color: #F56C6C;
    line-height 20px;
  }
}

.salary-modal-content {
  p {
    text-align center
    padding 6px 0;
  }
  span {
    font-size: 16px;
  }
  .span {
    font-size: 20px;
    color: #F56C6C;
    line-height 20px;
  }
}
.salary-modal-btn {
  margin-top 20px;
  text-align center
}

