/**
 * @author minjie
 * @createTime 2019/09/06
 * @description 进度条 css
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.progress {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
  background-color: #f5f5f5;
  border-radius 100px;
  line-height 10px;
  box-sizing border-box;
  .progress-bar {
    display: inline-block;
    vertical-align: top;
    height 10px;
    line-height 10px;
    cursor pointer
    -webkit-transition: all .4s cubic-bezier(.08, .82, .17, 1) 0s;
    transition: all .4s cubic-bezier(.08, .82, .17, 1) 0s;
  }
}
.progress-bar-success {
  background-color #52C41A;
}
.progress-bar-warning {
  background-color #FAAD13;
}
.progress-bar-danger {
  background-color #FF4A14;
}
.progress-bar-info {
  background-color #007AFF;
}
.progress-bar-violet {
  background-color #921AFF;
}
.progress-bar-wathet {
  background-color rgba(0, 122, 255, 0.5);
}
.progress-bar-gray {
  background-color #d9d9d9;
}

.progress-text {
  width: 100%;
  box-sizing border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  .progress-bar {
    display: inline-block;
    vertical-align: top;
    cursor pointer
    text-align center
    min-width 100px;
    .progress-bar-span {
      display inline-block
      vertical-align: middle;
      margin-right 4px;
      width 10px;
      height 10px;
      line-height 10px;
      border-radius 100%
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}