/**
 * @description 在招岗位的 详情的css
 * @author minjie
 * @createTime 2019/09/04
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.detail-content {
  width 100%;
  white-space: pre-wrap;
}