/**
 * @description 在招岗位的信息
 * @author minjie
 * @createTime 2019/06/15
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
.cus-recru-lable-item {
  display inline-block;
  vertical-align middle
  width:83px;
  height:26px;
  text-align center;
  line-height 26px;
  background:rgba(255,255,255,1);
  border-radius:4px;
  border:1px solid rgba(217,217,217,1);
}

.cus-recru-required {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 11px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
