/**
 * @description banner css
 * @author minjie
 * @createTime 2019/08/15
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
.banner-pay-page
  padding-left 20px
  .row-margin-bottom
    margin-bottom 10px
  .banner-line
    width: 4px
    height: 16px
    background: #007AFF
    display: inline-block
    vertical-align middle
    margin-right: 10px
  .banner-title
    font-size 18px
    font-weight bold
    display: inline-block
    vertical-align middle
    color #333333
  .banner-text {
    height:20px;
    font-size:14px;
    font-family:PingFangSC;
    font-weight:400;
    display: inline-block
    vertical-align middle
    color:rgba(245,34,45,1);
    line-height:20px;
    cursor pointer
    margin-left 375px
  }