/**
 * @author minjie
 * @createTime 2019/05/14
 * @description Empty less
 * @copyright minjie<15181482629@163.com>
 */

.basic-modal-title {
  text-align: center;
  margin-bottom: 0;
  font-weight:500;
  color:rgba(51,51,51,1);
}
.basic-modal {
  text-align: center;
  button {
    margin: 0 10px;
    padding: 0 38px;
  }
}

.error-col {
  font-size:14px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(51,51,51,1);
  line-height:20px;
}

.import-error {
  width:440px;
  height:172px;
  background:rgba(242,246,252,1);
  padding: 20px;
  margin: 20px 0;
  p {
    margin: 0;
    padding: 5px 0;
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    line-height:20px;
    color:rgba(245,34,45,1);
  }
  p:first-child {
    color:rgba(51,51,51,1);
  }
}

