/**
 * @author minjie
 * @createTime 2019/09/24
 * @description 项目的选择
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.project-container {
  width 100%;
  span {
    padding 4px 16px;
    margin-right 16px;
    height 32px;
    line-height 32px;
    box-sizing: border-box;
    border-radius 4px;
    cursor pointer;
  }
  span.active {
    color #fff;
    background-color #007AFF;
  }
  span.btn {
    background-color #fff;
    border 1px solid #c0c0c0;
  }
}

