/**
 * @description 人员信息详情
 * @author minjie
 * @createTime 2019/07/13
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
.people-detail-container {
  padding 26px 58px;
}
.people-icon-shezhi {
  width 19px;
  height 19px;
  margin-right 7px;
  margin-bottom 10px;
}
.people-icon-group {
  width 18px;
  height 19px;
  margin-right 7px;
  margin-bottom 10px;
}
.people-icon-info {
  width 19px;
  height 17px;
  margin-right 7px;
  margin-bottom 10px;
}
.people-icon-bank {
  width 19px;
  height 16px;
  margin-right 7px;
  margin-bottom 10px;
}
.people-detail-title {
  height:20px;
  font-size:14px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:20px;
  margin-bottom 10px;
}
.people-detail-btn-content {
  float right;
}
.people-detail-divider {
  margin 0 0 19px;
}
.people-icon-picture {
  text-align center;
  margin-bottom 30px;
  .content {
    margin 0 auto;
    width:240px;
    height:136px;
    background:rgba(242,246,252,1);
    border-radius:8px;
    border:1px dashed rgba(209,217,237,1);
    text-align center;
    font-size:58px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(223,233,249,1);
    line-height:136px;
  }
  img {
    width:240px;
    height:136px;
    background:rgba(242,246,252,1);
    border-radius:8px;
    border:1px dashed rgba(209,217,237,1);
  }
  p {
    margin-top 10px;
    height:18px;
    font-size:13px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:18px;
  }
}
