/**
 * @description 简历审核-详情css
 * @author minjie
 * @createTime 2019/06/19
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.review-title {
  text-align right;
  font-size:11px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(51,51,51,1);
  line-height:16px;
  margin-bottom 26px;
}

.work-container {
  margin-top 23px;
  .work-key {
    font-size:16px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:22px;
  }
  .work-title {
    font-size:11px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    height 22px;
    line-height:22px;
    span:nth-child(2) {
      float right
    }
  }
  .work-company {
    margin 6px 0 8px;
    font-size:11px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:16px;
  }
  .work-content {
    font-size:11px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:16px;
    white-space: pre-wrap;
  }
}

.work-question-title {
  font-size:14px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:20px;
}

.work-question {
  font-size:11px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  line-height:16px;
  .question {
    display inline-block
    vertical-align top
    color:rgba(51,51,51,1);
  }
  .content {
    margin-left 19px;
    padding 10px 13px;
    color:rgba(102,102,102,1);
    width:295px;
    background:rgba(245,245,245,1);
  }
  .answer {
    float right;
    margin-left 19px;
  }
}
