/**
 * @description 预支-css
 * @author maqian
 * @createTime 2019/07/11
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
.advance-page {
  > .ant-tabs-card {
    .ant-tabs-content {
      // height: 120px;
      margin-top: -16px;
      > .ant-tabs-tabpane {
        background: #fff;
      }
    }
    .ant-tabs-bar {
      border-color: #fff;
      background #EDEFEF
      .ant-tabs-tab {
        border-color: transparent;
        background: transparent;
      }
      .ant-tabs-tab-active {
        border-color: #fff;
        background: #fff;
      }
    }
  }
}
