/**
 * @author minjie
 * @createTime 2019/07/12
 * @description 修改编辑的 样式
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.infamation-detail-content,
.editor-wrapper {
  border 1px solid #d1d1d1;
  border-radius 6px;
}
.infamation-detail-content {
  padding 20px;
}

.infamation-detail-img {
  display inline-block;
  vertical-align bottom;
  height:16px;
  font-size:11px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(192,192,192,1);
  line-height:16px;
  margin-left 26px;
}
