/**
 * @author minjie
 * @createTime 2019/04/26
 * @description 主页
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.home-info-content {
  padding 53px;
  position relative;
  box-sizing border-box;
  .image-one {
    display block;
    width 341px;
    height 90px;
  }
  .image-two {
    display block;
    margin 3% 0 0 30.27%;
    width 529px;
    height 390px;
  }
}
