/**
 * @author minjie
 * @createTime 2019/05/14
 * @description 主界面样式
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

active-color = rgb(255, 217, 110)

.home-content {
  height 100%
  .ant-menu-inline {
    border none;
    .ant-menu-item:not(:last-child),
    li {
      width 200px
      margin 0
    }
  }
  .cus-header {
    box-sizing border-box;
    padding: 0 21px 0 0;
    > div:nth-child(1) {
      width 200px;
      box-sizing border-box;
      color #434344;
      height: 100%;
      line-height 50px;
      background #005FC6
      padding-left 24px;
      float left
      img {
        width 75px;
        height 23px;
      }
    }
    > div:nth-child(2) {
      margin-left 19px;
      display inline-block
      vertical-align middle
      width 10%;
      .user-project {
        cursor pointer;
        display inline-block;
        padding 0 14px;
        width:120px;
        height:35px;
        background:rgba(0,122,255,1);
        border-radius:3px;
        font-size:14px;
        font-family:PingFangSC-Medium;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:35px;
        .icon {
          margin-top 10px;
          float right
        }
      }
    }
    > div:nth-child(3) {
      text-align right;
      box-sizing border-box;
      float right
      width 40%;
      height: 100%;
      line-height 50px;
      .user-quit {
        cursor pointer
        display inline-block;
        margin-left 6px;
        line-height:50px;
        > i {
          margin-left 6px
        }
      }
    }
  }
  .cus-breadcrumb {
    margin-top 2px;
    padding-left 19px;
    height:43px;
    line-height 43px;
    background:rgba(255,255,255,1);
  }
  .cus-content {
    padding 24px;
    background-color: #fff;
    background-clip: content-box;
  }
}
.quit-span {
  display inline-block
  margin-left 6px;
}

.active-span {
  cursor pointer
}

.menu-dropdown-parent {
  .menu-dropdown-item{
    text-align center
    min-width 100px
  }
  .active {
    background:rgba(0,122,255,1);
  }
}
